process {

    withName: ADAPTOR_COUNT_AP1 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_adaptor_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'GTAAAACGACGGCCAGT'
    }

    withName: ADAPTOR_COUNT_AP2 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_adaptor_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'CTACACGACGCTCTTCCGATCT'
    }

    withName: ADAPTOR_COUNT_AP3_1 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_adaptor_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'AGCGGCGGGCTTATACCCCTACAG'
    }

    withName: ADAPTOR_COUNT_AP3_2 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_adaptor_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'TCGTGCCGACCACGCGCATT'
    }

    withName: ADAPTOR_COUNT_AP4_1 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_adaptor_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'GCCCTGTGCTCTCTTGCAGCT'
    }

    withName: ADAPTOR_COUNT_AP4_2 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_adaptor_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'ACCAGTATTCCAGTCAGGCTTGCCA'
    }

    withName: ADAPTOR_COUNT_AP5 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_adaptor_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'AGATCGGAAGAGCACACGTCT'
    }

    withName: STAT_ADAPTOR {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_adaptor_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
}
