process {

    withName: BARCODE_COUNT_BC1 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_barcode_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'GTAAAACGACGGCCAGT'
    }

    withName: BARCODE_COUNT_BC2 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_barcode_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'CTACACGACGCTCTTCCGATCT'
    }

    withName: BARCODE_COUNT_BC3_1 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_barcode_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'AGCGGCGGGCTTATACCCCTACAG'
    }

    withName: BARCODE_COUNT_BC3_2 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_barcode_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'TCGTGCCGACCACGCGCATT'
    }

    withName: BARCODE_COUNT_BC4_1 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_barcode_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'GCCCTGTGCTCTCTTGCAGCT'
    }

    withName: BARCODE_COUNT_BC4_2 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_barcode_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'ACCAGTATTCCAGTCAGGCTTGCCA'
    }

    withName: BARCODE_COUNT_BC5 {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_barcode_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'AGATCGGAAGAGCACACGTCT'
    }

    withName: STAT_BARCODE {
        publishDir = [
            path: { "${params.outdir}/1_preprocess_nanopore/1a_barcode_count" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
