process {
  withName: GET_MASTER_TABLE {
      publishDir = [
          path: { "${params.outdir}/6_summary/6a_master_table" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
  }

  withName: GET_BIN_PLOT {
      publishDir = [
          path: { "${params.outdir}/6_summary/6b_bin_plot" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.bins = "[(0,50), (51,60), (61,137), (138,154), (155,1000)]" // number and range of bins to plot
      ext.use_ratio = "yes" // plot read count ratio or count within each bin for each sample: "yes" for ratio, "no" for count
      ext.use_repeat_unit_bp = "yes" // label unit: set to "yes" to label using number of "repeat unit", the length of "repeat unit" is defined in "repeat_unit_bp" below
      ext.repeat_unit_bp = 3 // number of base pair in the repeat unit
  }

}
