process {
  withName: READ_COUNT_PER_UMI_CUTOFF {
      publishDir = [
          path: { "${params.outdir}/5_indel_statistics/5a_read_count_per_umi_cutoff/" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
  }

withName: STAT_READ_COUNT_PER_UMI_CUTOFF {
    publishDir = [
        path: { "${params.outdir}/5_indel_statistics/5a_read_count_per_umi_cutoff/" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

}
