process {
  withName: REPEAT_LENGTH_DISTRIBUTION_DEFAULT {
      publishDir = [
          path: { "${params.outdir}/4_repeat_statistics/4a_repeat_length_distribution" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.args = 'TCGAGTCCCTCAAGTCCTTC GGCGGCGGCGGCGGTGGCGG 2'
      // first 20nt flanking repeat region from R1, R2, and allowed mismatch (including INDELs)
      // R2 flanking nt reverse complemented
  }

}
