process {
    withName: CLASSIFY_MERGE {
        publishDir = [
            path: { "${params.outdir}/3_read_category/3d_classify_merge" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
            ext.args = 'forcemerge=t'
    }

    withName: STAT_CSV_MERGE {
        publishDir = [
            path: { "${params.outdir}/3_read_category/3d_classify_merge" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC_SINGLE {
        publishDir = [
            path: { "${params.outdir}/2_qc_and_umi/2a_fastqc/fastq_merge" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/2_qc_and_umi/2a_fastqc/fastq_non_merge" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: REPEAT_LENGTH_DISTRIBUTION_MERGE {
        ext.args = 'TCGAGTCCCTCAAGTCCTTC GGCGGCGGCGGCGGTGGCGG 2'
        // first 20nt flanking repeat region from R1, R2, and allowed mismatch (including INDELs)
        // R2 flanking nt reverse complemented
    }

    withName: STAT_REPEAT_LENGTH_DISTRIBUTION_MERGE {
        publishDir = [
            path: { "${params.outdir}/4_repeat_statistics/4a_repeat_length_distribution" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 'repeat_length_count_merge_umi_0.csv repeat_length_count_merge_umi_0.html "repeat_length_count_" ".csv"'
    }

    withName: REPEAT_LENGTH_DISTRIBUTION_PER_UMI {
        publishDir = [
            path: { "${params.outdir}/4_repeat_statistics/4b_repeat_length_distribution_per_umi/csv" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = 10 // first args: max umi groups to output
    }

    withName: PLOT_REPEAT_LENGTH_DISTRIBUTION_PER_UMI {
        publishDir = [
            path: { "${params.outdir}/4_repeat_statistics/4b_repeat_length_distribution_per_umi/html" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: STAT_REPEAT_LENGTH_DISTRIBUTION_MERGE_UMI_CORRECT {
        publishDir = [
            path: { "${params.outdir}/4_repeat_statistics/4a_repeat_length_distribution" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }











  withName: UMI_PATTERN2 {
      publishDir = [
          path: { "${params.outdir}/" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.args = '500' // X-axis range: choose from 'auto' or a positive number; if 'auto', the X-axis scale of the plot will be automatically determined.
  }

  withName: BBMERGE {
      publishDir = [
          path: { "${params.outdir}/" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.args = ''
  }

  withName: REPEAT_DIST_DISTANCE_MERGED {
      publishDir = [
          path: { "${params.outdir}/" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.args = 'TCGAGTCCCTCAAGTCCTTC GGCGGCGGCGGCGGTGGCGG 2 300'
      // first 20nt flanking repeat region from R1, R2, and allowed mismatch (including INDELs)
      // R2 flanking nt reverse complemented
      // Choose an integer specifying the X-axis scale.
      ext.args_frac = '151 166' // to caculate fraction of reads < 151 and > 166
  }

  withName: READ_LENGTH_DIST {
      publishDir = [
          path: { "${params.outdir}/" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.args = '500'
      // bin_number
  }

  withName: REPEAT_DIST_WITHIN_UMI_GROUP_MERGE {
      publishDir = [
          path: { "${params.outdir}/" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.args = '10 300' // first args: max group number to plot; second args: choose an integer specifying the X-axis scale
  }

  withName: UMI_GROUP_STAT_MERGE {
      publishDir = [
          path: { "${params.outdir}/" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.args = ''
  }

  withName: REPEAT_DIST_UMI_CORRECT_MERGE {
      publishDir = [
          path: { "${params.outdir}/" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.args = '300' // choose an integer, for X-axis scale.
      ext.args_frac = '151 166' // to caculate fraction of reads < 151 and > 166
  }

  withName: READ_UMI_CORRECT {
      publishDir = [
          path: { "${params.outdir}/" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
  }

  withName: PLOT_FRAC_CUTOFF_MERGE {
      publishDir = [
          path: { "${params.outdir}/" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.args = ''
  }

}
