/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run urlpipe -profile <docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Sample dataset1'
    config_profile_description = 'Configuration using a minimal test dataset1: 6 samples from HQ50 (human cell line): '

    input  = "./assets/samplesheet_dataset1_sci.csv"
    outdir = "./results_dataset1"
    allele_number = 2
    length_mode = "reference_align"
    ref = "./assets/IlluminaHsQ50FibTrim_Ref.fa"
    ref_repeat_start = 69
    ref_repeat_end = 218
    ref_repeat_unit = "CAG"

    max_memory                 = '16.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}

process {
    withName: CUTADAPT {
        ext.args = '-a AGATCGGAAGAGCACACGTCT -A TCGGAAGAGCGTCGTGTAG' // Illumina TruSeq adapter: https://dnatech.genomecenter.ucdavis.edu/wp-content/uploads/2019/03/illumina-adapter-sequences-2019-1000000002694-10.pdf
    }

    // withName: CLASSIFY_LOCUS {
    //     ext.args = 'TCTCTCCGGGGACTGCCGTG CGGCTGAGGCAGCAGCGGCT 2' // first 20nt from R1, R2, and allowed mismatch (including INDELs)
    //     // R2 from 5' -> 3' as R1
    // }

    // withName: CLASSIFY_INDEL {
    //     ext.args = 'TCGAGTCCCTCAAGTCCTTC CCGCCACCGCCGCCGCCGCC 2' // first 20nt flanking repeat region from target genome, and allowed mismatch (substitution only)
    //     // R2 flanking nt : same direction as R1
    // }

    // withName: CLASSIFY_READTHROUGH {
    //     ext.args = 'TCGAGTCCCTCAAGTCCTTC CCGCCACCGCCGCCGCCGCC 2' // first 20nt flanking repeat region from target genome, and allowed mismatch (including INDELs)
    //     // R2 flanking nt : same direction as R1
    // }

    // withName: PREP_REF {
    //     ext.reference = "assets/IlluminaHsQ50FibTrim_Ref.fa"
    //     ext.repeat_start = 69 // start position of repeat in ref, 1-based coordinate
    //     ext.repeat_end = 218 // end position of repeat in ref, 1-based coordinate
    //     ext.repeat_unit = "CAG"
    //     ext.repeat_range = "0:150" // range of number of repeat units (e.g. "CAG") when it comes to prep_ref
    // }

    // withName: BWA {
    //     ext.reference = "assets/IlluminaHsQ50FibTrim_Ref.fa"
    //     ext.args = "" // bwa options
    // }

    // withName: REPEAT_LENGTH_DISTRIBUTION_DEFAULT {
    //     ext.args = 'TCGAGTCCCTCAAGTCCTTC CCGCCACCGCCGCCGCCGCC 2'
    //     // first 20nt flanking repeat region from R1, R2, and allowed mismatch (including INDELs)
    //     // R2 flanking nt: same direction as R1
    // }

}
