process {
  withName: READ_PER_UMI_R1 {
      publishDir = [
          path: { "${params.outdir}/2_qc_and_umi/read_per_umi" },
          mode: params.publish_dir_mode,
          saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
      ext.args = '500' // X-axis range: choose from 'auto' or a positive number; if 'auto', the X-axis scale of the plot will be automatically determined.
  }


}
