/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run test/urlpipe -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'For dataset MB-L4 (42 Mm samples)'
    config_profile_description = ''
    
    input  = "/home/kai.hu-umw/pi/michael.brodsky-umw/urlpipe/assets/test/samplesheet_mbl4_mm.csv"
    outdir = "./results_06_16_mbl4_mm"
    ref = "assets/IlluminaMmQ50Trim_Ref.fa"

    // not used
    // Fasta references
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/genome/NC_045512.2/GCF_009858895.2_ASM985889v3_genomic.200409.fna.gz'
}

includeConfig 'mouse.config'
