params {
    ref = "./assets/IlluminaHsQ50FibTrim_Ref.fa" // path to reference file
    ref_repeat_start = 69 // 1-based repeat start coordinate on reference
    ref_repeat_end = 218 // 1-based repeaet end coordinate on reference
    ref_repeat_unit = "CAG" // repeat unit on reference
}

process {
    withName: CUTADAPT {
        ext.args = '-a AGATCGGAAGAGCACACGTCT -A TCGGAAGAGCGTCGTGTAG'
    }
}
