process {

  withName: CUTADAPT {
      ext.args = '-a AGATCGGAAGAGCACACGTCT -A TCGGAAGAGCGTCGTGTAG'
  }

  withName: CLASSIFY_LOCUS {
      ext.args = 'GTAGGCTCCAAGTCTTCAGG CGGCTGAGGCAGCAGCGGCT 2' // first 20nt from R1, R2, and allowed mismatch (including INDELs)
  }

  withName: CLASSIFY_INDEL {
      ext.args = 'TCGAGTCCCTCAAGTCCTTC CCGCCACCGCCGCCGCCGCC 2' // first 20nt flanking repeat region from R1, R2, and allowed mismatch (substitution only)
      // R2 flanking nt : same direction as R1
  }


  withName: CLASSIFY_READTHROUGH {
      ext.args = 'TCGAGTCCCTCAAGTCCTTC CCGCCACCGCCGCCGCCGCC 2' // first 20nt flanking repeat region from R1, R2, and allowed mismatch (including INDELs)
      // R2 flanking nt : same direction as R1
  }

  withName: REPEAT_LENGTH_DISTRIBUTION_DEFAULT {
      ext.args = 'TCGAGTCCCTCAAGTCCTTC CCGCCACCGCCGCCGCCGCC 2'
      // first 20nt flanking repeat region from R1, R2, and allowed mismatch (including INDELs)
      // R2 flanking nt: same direction as R1
  }

  withName: REPEAT_LENGTH_DISTRIBUTION_MERGE {
      ext.args = 'TCGAGTCCCTCAAGTCCTTC CCGCCACCGCCGCCGCCGCC 2'
      // first 20nt flanking repeat region from R1, R2, and allowed mismatch (including INDELs)
      // R2 flanking nt: same direction as R1
  }

  withName: REPEAT_LENGTH_DISTRIBUTION_NANOPORE {
      ext.args = 'TCGAGTCCCTCAAGTCCTTC CCGCCACCGCCGCCGCCGCC 2'
      // first 20nt flanking repeat region from R1, R2, and allowed mismatch (including INDELs)
      // R2 flanking nt: same direction as R1
  }


}
