/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run test/urlpipe -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'For dataset mouse 30 (30 Mm samples)'
    config_profile_description = ''

    input  = "/home/kai.hu-umw/pi/michael.brodsky-umw/urlpipe/assets/test/samplesheet_30_sci_new_input_test_4_cutoffs.csv"
    outdir = "./results_mouse_30"
    allele_number = 2
    ref = "assets/IlluminaMmQ50Trim_Ref.fa"

    // Fasta references
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/genome/NC_045512.2/GCF_009858895.2_ASM985889v3_genomic.200409.fna.gz'
}

includeConfig 'mouse.config'
