/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run test/urlpipe -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'For dataset HQ50 obtained 06/04/2024'
    config_profile_description = ''

    input  = "/home/kai.hu-umw/pi/michael.brodsky-umw/urlpipe/assets/test/samplesheet_06042024_4_cutoffs.csv"
    outdir = "./results_Q50_HD_06042024"
    allele_number = 2
    length_mode = "reference_align"
    // ref = "assets/IlluminaHsQ50FibTrim_Ref.fa"

    // Fasta references
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/genome/NC_045512.2/GCF_009858895.2_ASM985889v3_genomic.200409.fna.gz'
}

includeConfig 'human.config'
